.more-info {
  align-self: center;
}

.more-info__link {
  color: rgba(233, 219, 208, 1);
  width: 291px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
